@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css');
@import '../../node_modules/material-icons/iconfont/material-icons.css';

:root {
  --main-text-color: #323846;
  --medium-text-color: #8b8b8b;
  --light-text-color: #b8b8b8;

  --brand-color: #e8394d;
  --brand-color-hover: #ec6070;

  --dropshadow-color: rgba(50, 56, 70, 0.25);

  --background-color: #fdfdfd;

  --border-radius: 12px;
  --border-radius-stronger: 24px;
}

body {
  margin: 0 !important;
}

html, body {
   font-family: 'Roboto', sans-serif;
}

.marker {
   background-image: url("./../img/pin.png");
   background-size: 100% 100%;
   width: 32px;
   height: 44px;
   cursor: pointer;
 }
