@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --main-text-color: #323846;
  --medium-text-color: #8b8b8b;
  --light-text-color: #b8b8b8;

  --brand-color: #e8394d;
  --brand-color-hover: #ea4c5e;

  --dropshadow-color: rgba(50, 56, 70, 0.25);

  --background-color: #fdfdfd;

  --border-radius: 12px;
}

body {
  margin: 0 !important;
}

html, body {
   font-family: 'Roboto', sans-serif;
}
